# OS X
*.DS_Store
._*

# Windows
Thumbs.db

# Wakanda data
*.waData
*.waIndx

# Wakanda preferences
*.waPreferences

# Wakanda log
*.waLog
*/Logs
studio_log*

# Wakanda code symbols
*.waSym
*.waSymData

# Wakanda index
## *.waIndex
## *.waIndx
## *.Match

# Wakanda User and Group cache
*.cacheUAG

# Wakanda breakpoints
breakpoints.json

# Wakanda session ID cache
sessionID.json

# Wakanda backup
*.waBackup

